# Ignore the virtual environment directory
.venv/
env/
venv/

# Ignore Python bytecode and temporary files
__pycache__/
*.py[cod]

# Ignore dev. notes
TODO
admin_password.bin
operating_time.bin
dist/
build/